<nav class="navbar flex-column navbar-dark bg-dark text-white sticky-top">
	<ul class="nav nav-pills nav-fill">
		<li class="nav-item">
			<img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
		</li>
		<li class="nav-item" (click)="navigate(1)" (mouseover)="hover0=true" (mouseleave)="hover0=false">
			<div class="nav-link" [style.color]="hover0?'green':'white'">Flush Data</div>
		</li>
		<li class="nav-item" (click)="navigate(2)" (mouseover)="hover1=true" (mouseleave)="hover1=false">
			<div class="nav-link" [style.color]="hover1?'green':'white'">Manage Events</div>
		</li>
		<li class="nav-item" (click)="navigate(3)" (mouseover)="hover2=true" (mouseleave)="hover2=false">
			<div class="nav-link" [style.color]="hover2?'green':'white'">Manage Users</div>
		</li>
		<li class="nav-item" (click)="navigate(4)" (mouseover)="hover4=true" (mouseleave)="hover4=false">
			<div class="nav-link" [style.color]="hover4?'green':'white'">Obtain Events</div>
		</li>
		<li class="nav-item" [style.display]="loginFlag?'unset':'none'" (click)="logout()" (mouseover)="hover5=true" (mouseleave)="hover5=false">
			<div class="nav-link" [style.color]="hover5?'green':'white'">Logout</div>
		</li>
		<li class="nav-item bg-light" [style.display]="loginFlag?'unset':'none'"><div class="nav-link font-weight-bold" style="color: rgb(75, 207, 58) ">Admin</div></li>
	</ul>
</nav>

<div [style.display]="first?'unset':'none'">
	home
</div>

<div [style.display]="show_f_d_v?'unset':'none'">
	show flush data view
	<button (click)='reloadData()'>reload</button>
</div>

<div [style.display]="show_m_e_v?'unset':'none'">
	<table class="table table-striped table-bordered table-dark table-responsive-sm">
		<thead>
			<tr>
				<th>ID</th>
				<th>Program Name</th>
				<th>Datetime</th>
				<th>quota</th>
				<th>Location</th>
				<th>Type</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
				<tr *ngFor="let event of eventsList; let i = index">
					<td>
						{{event.eid}}
					</td>
					<td (mouseover)='hoverIndex=i' (mouseleave)='hoverIndex=-1'>
						{{event.name}}
						<div class='dropdown' [style.display]='hoverIndex==i?"block":"none"'>
							<table>
								<tr>
									<td>
										<input value='{{event.name}}'>
									</td>
								</tr>
								<tr>
									<td>
										<input value='{{event.datetime}}'>
									</td>
								</tr>
								<tr>
									<td>
										<input value='{{event.quota}}'>
									</td>
								</tr>
								<tr>
									<td>
										<input value='{{event.location}}'>
									</td>
								</tr>
								<tr>
									<td>
										<input value='{{event.type}}'>
									</td>
								</tr>
								<tr>
									<td (click)='updateEvent($event, i)' style='background: green'>
										Save
									</td>
								</tr>
							</table>
						</div>
					</td>
					<td>
						{{event.datetime}}
					</td>
					<td>
						{{event.quota}}
					</td>
					<td>
						{{event.location}}
					</td>
					<td>
						{{event.type}}
					</td>
					<td>
						<button class="btn btn-sm" (click)='deleteEvent(i)'>X</button>
					</td>
				</tr>
			</tbody>
	</table>
	<table class="table table-striped table-bordered table-dark table-responsive-sm">
		<thead>
			<tr>
				<th>Program Name</th>
				<th>Datetime</th>
				<th>quota</th>
				<th>Location</th>
				<th>Type</th>
				<th>Create</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<textarea class='form-control' placeholder="Event Name"></textarea>
				</td>
				<td>
					<textarea class='form-control' placeholder="Event Datetime"></textarea>
				</td>
				<td>
					<textarea class='form-control' placeholder="Event quota"></textarea>
				</td>
				<td>
					<textarea class='form-control' placeholder="Event Location"></textarea>
				</td>
				<td>
					<textarea class='form-control' placeholder="Event Type"></textarea>
				</td>
				<td>
					<button class="btn btn-sm" (click)='pushEvent($event)'>Create</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div [style.display]="show_m_u_v?'unset':'none'">
	<table class="table table-striped table-bordered table-dark table-responsive-sm">
		<thead>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Password</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of usersList; let i = index">
				<td>{{ user.uid }}</td>
				<td (mouseover)='hoverIndex=i' (mouseleave)='hoverIndex=-1'>
					{{user.name}}
					<div class='dropdown' [style.display]='hoverIndex==i?"block":"none"'>
						<table>
							<tr>
								<td>
									<input value='{{user.name}}'>
								</td>
							</tr>
							<tr>
								<td>
									<input value='*********'>
								</td>
							</tr>
							
							<tr>
								<td (click)='updateUser($event, i)' style='background: green'>
									Save
								</td>
							</tr>
						</table>
					</div>
				</td>
				<td>
					<!-- {{user.password}} -->
					*********
				</td>
				<td>
					<button class="btn btn-sm" (click)='deleteUser(i)'>X</button>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-bordered table-dark table-responsive-sm">
		<thead>
			<tr>
				<th>Username</th>
				<th>Password</th>
				<th>Create</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<textarea class='form-control' placeholder="Username"></textarea>
				</td>
				<td>
					<textarea class='form-control' placeholder="Password"></textarea>
				</td>
				<td>
					<button class="btn btn-sm" (click)='pushUser($event)'>Create</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div [style.display]="show_o_e_v?'unset':'none'">
	<input type='file' (input)="selectedFile($event)">
	<p>
		File format:
	</p>
	<p>
		event1_name, event1_datetime, event1_quota, event1_location, event1_type
	</p>
	<p>
		event2_name, event2_datetime, event2_quota, event2_location, event2_type
	</p>
	<p>
		etc...
	</p>
</div>
<router-outlet></router-outlet>